%form{ :class => 'snippet-form', :method => :post }
  .snippet-filename
    %span.to-be-invisible Filename:
    %input{ :class => :placeholder, :type => :text, :name => :filename, :size => 16, :value => @snippet.filename }
  .snippet-type
    - type = @snippet.type || 'plain_text'
    Type:
    %select{ :name => :type }
      - syntaxes.each do |syntax|
        %option{ :value => syntax, :selected => (type == syntax) }= syntax.gsub(/_/, ' ')
  .clear
  .snippet-comment
    %span.to-be-invisible Comment:
    %input{ :class => :placeholder, :type => :text, :name => :comment, :size => 32, :value => @snippet.comment }
  %textarea{ :name => :text }= @snippet.text
  %input{ :type => :submit, :value => @submit_button }
  - if @cancel_button
    %input{ :type => :submit, :name => :cancel, :value => 'Cancel' }
