!!! XML
!!!
%html
  %head
    %title= (@page_title ? "#{@page_title} - " : '') + 'Pastiche'
    %link{:href => path_to("/uv/css/#{Pastiche.uv_theme}.css"), :type => 'text/css', :rel => 'stylesheet'}
    %script{:type => 'text/javascript', :src => path_to('/javascripts/jquery.js')}
  %body
    != yield
