- @page_title = 'Login'
.title
  %h1 Login
- if @error_message
  .error
    = @error_message
.login_form
  %form{:method => 'post'}
    OpenID:
    %input.openid_identifier{ :type => 'text', :name => 'openid_identifier' }
    %input{ :type => 'submit', :value => 'Login' }
  %p
    What is
    %a{ :href => 'http://openid.net/' } OpenID
    ?
