- @page_title = 'Login'
%h2 Login
.login-form
  %form{:method => 'post'}
    OpenID:
    %input.openid-identifier{ :type => 'text', :name => 'openid_identifier' }
    %input{ :type => 'submit', :value => 'Login' }
  %p
    What's&nbsp;
    %a{ :href => 'http://openid.net/' }> OpenID
    ?
