- @page_title = 'Post a new snippet'
%h2 New snippet
.snippet-form
  %form{:method => 'post'}
    .snippet-filename
      Filename:
      %input{ :type => 'text', :name => 'filename' }
    .snippet-type
      Type:
      - @selected_type ||= 'plain_text'
      %select{ :type => 'text', :name => 'type' }
        - @syntaxes.each do |syntax|
          %option{ :value => syntax, :selected => (@selected_type == syntax) }= syntax.gsub(/_/, ' ')
    .snippet-comment
      Comment:
      %input{ :type => 'text', :name => 'comment' }
    .snippet-body
      Text:
      %br
      %textarea{ :name => 'text', :cols => 60, :rows => 20 }
    %input{ :type => 'submit', :value => 'Create' }
