- @page_title = 'Post a new snippet'
!= partial :header
%h2 New snippet
!= partial :flash_message
.snippet-form
  %form{:method => 'post'}
    .snippet-title
      Title:
      %input{ :type => 'text', :name => 'title' }
    .snippet-type
      Type:
      %select{ :type => 'text', :name => 'type' }
        - @syntaxes.each do |syntax|
          %option{ :value => syntax }= syntax.gsub(/_/, ' ')
    .snippet-comment
      Comment:
      %input{ :type => 'text', :name => 'comment' }
    .snippet-body
      Snippet:
      %br
      %textarea{ :name => 'text', :cols => 60, :rows => 20 }
    %input{ :type => 'submit', :value => 'Create' }
